@import "form-edit-header.css";
@import "form-edit-button.css";
@import "form-edit-round-button.css";
@import "form-edit-question-block.css";
@import "form-edit-action-list.css";

body {
  background: #fdf9f9;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 45px 96px;
  gap: 64px;
}

.form-container .question-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
